<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>c3137540_c3268157_c3256741_c3162759_FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
	<welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>  

</web-app>
		
